body {
	background: black;
	border: 0px;
	margin: 100px;
	padding: 0px;
}
.images{
	text-align: center;
}

.image {
    display: inline-block;
	width:20%;
	height:10%;
}

img {
	max-width: 100%;
	height: auto;
}
