body {
	background: black;
	border: 0px;
	margin: 100px;
	padding: 0px;
}
.images{
	text-align: center;
}

.image {
    display: inline-block;
	width:20%;
	height:10%;
}

img {
	max-width: 100%;
	height: auto;
}
.categories{
	color: white;
}

#fadeimage {
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto;
}

#fadeimage img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
}