/* Your styles go here */
body {
	background: white;
	border: 0px;
	margin: 90px;
	padding: 0px;
}

.main {
	font-size: 20px;
	font-family: "Courier", sans-serif;
	color: #black;
	text-align: center;
	position: fixed; 
	top: 10%;
    left: 50%;
     transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}



.photos{
	text-align: center;
}

.photo {
    display: inline-block;
	width:30%;
	height:30%;
}

img {
	max-width: 100%;
	height: auto;


}
